*, ::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    color:rgba(239, 239, 239, 0.9)
}

.container {
    height: 100vh;
    width: 70vw;
    margin: 2rem auto;
}

.container h2 {
    font-size: 2.3rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.form-contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.form-contact input {
    background: none;
    outline: 0;
    border: 0;
    margin: 1rem 0;
    line-height: 3rem;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form-contact input:valid{
    border-bottom: 1px darkgreen solid;
}

.btn-save{
    margin: 1rem 0;
    background: transparent;
    border: 2px darkgreen solid;
    outline: 0;
    height: 3rem;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.btn-save:hover{
    background-color: darkgreen;
}

.btn-save:active{
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
}

.list-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-top: 1px gray solid;
    padding: 0.5rem;
}

.warn {
    color: tomato;
    cursor: pointer;
    font-size: 2rem !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform: translate(0,0);
}

.warn:hover{
    transform: translate(-0.5px, -0.5px);
}

.warn:active{
    transform: translate(0,0);
}

